.success-con {
  height: 900px;
  background-color: #f1f5f9;
}
.success-form-con {
  height: 579px;
  width: 1035px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  margin-top: 40px;
  margin-left: 200px;
}
.success-greeting-background {
  background-color: #304766;
  border-radius: 0px 16px 16px 0px;
}
.greeting-con {
  margin: 100px 100px 100px 100px;
  width: 451px;
  height: 300px;
  top: 274px;
  left: 611px;
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.output-con {
  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.tick-image {
  height: 64px;
  width: 64px;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 40px;
}
.heading-success {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #334155;
}
.para-success {
  font-size: 14px;
  font-weight: 400;
  line-height: 0px;
  text-align: center;
  color: #475569;
  margin-bottom: 25px;
}
.button-ele {
  width: 133pxpx;
  height: 32pxpx;
  top: 220px;
  left: 159px;
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 6px;
  opacity: 0px;
  background-color: #2563eb;
  color: white;
  border: 0px;
}
